*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

/** CSS reset stuff **/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2rem;
    font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

/* Fix media defaults */
img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

/* Fix input styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* Fix text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Fix link colors */
a {
    color: var(--link-normal);
    text-underline-offset: 0.2em;
}
a:hover {
    color: var(--link-hover);
}

/* Improve focus styles */
:focus-visible {
    outline: 3px dashed var(--text-accent);
}

@media (min-width: 800px) {
    :root {
        scrollbar-gutter: stable both-edges;
    }
}

/** Generic styles **/
hr {
    --hr-line-offset: 25%;
    --hr-color: var(--border-color);
    --hr-text-color: var(--border-color);
    --hr-text-offset: 2ch;
    --hr-thickness: 4px;
    --hr-line-color: var(--hr-color);
    display: grid;
    place-items: center;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        to right,
        var(--hr-line-color),
        var(--hr-line-color) calc(50% - var(--hr-text-offset)),
        transparent calc(50% - var(--hr-text-offset)),
        transparent calc(50% + var(--hr-text-offset)),
        var(--hr-line-color) calc(50% + var(--hr-text-offset)),
        var(--hr-line-color)
    );
    margin-block: 2rem;
}

hr::after {
    content: "⚘";
    font-size: 1.5rem;
    color: var(--hr-text-color);
    position: absolute;
    translate: 0 calc(var(--hr-thickness) / -2);
}

/** Variables **/
body {
    --background-primary: var(--bg0);
    --background-secondary: var(--bg2);
    --background-header: var(--bg0);
    --background-footer: var(--bg0);

    --border-color: var(--fg0);
    --border-color: var(--fg0);

    --background-tag: var(--bg1);
    --background-tag-hover: var(--bg2);
    --border-tag: var(--border-color);

    --text-normal: var(--fg0);
    --text-accent: var(--accent-text);
    --text-faded: var(--fg1);

    --link-normal: var(--accent-text);
    --link-hover: var(--accent-text-lighter);

    /* Sizes */
    --border-width: 3px;
    --border-radius-small: 16px;
    --border-radius-medium: 24px;

    --center-width-min: 300px;
    --center-width-max: 800px;

    /* Fonts */
    --font-header: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
        "Sitka Small", serif;
}

:root body {
    --bg0: #eee;
    --bg1: #ddd;
    --bg2: #ccc;
    --bg3: #c3c3c3;
    --bg4: #aaa;

    --fg0: #444;
    --fg1: #666;

    --accent: #ff3b8d;
    --accent-lighter: #f865a2;
    --accent-darker: #d32f73;
    --accent-text: #800040;
    --accent-text-lighter: #be3278;
}

/** Main style **/
body {
    /* Grid system with named sections*/
    display: grid;
    grid-template-columns:
        [left]
        1fr
        [half-left]
        1fr
        [center-left]
        minmax(var(--center-width-min), var(--center-width-max))
        [center-right]
        1fr
        [half-right]
        1fr
        [right];
    grid-template-rows: min-content auto min-content;

    background-color: var(--background-primary);
    color: var(--text-normal);
}

/* Accessibility skip */
.skip-to-main {
    display: block;
    position: absolute;
    padding: 1rem;
    background-color: var(--background-secondary);
    left: -100%;
    opacity: 0;
}
.skip-to-main:focus,
.skip-to-main:hover {
    left: 0;
    opacity: 1;
    transition: opacity 100ms ease-out;
}

/* Header */
header {
    grid-column: left / right;
}

/* Footer */
footer {
    grid-column: left / right;
    grid-row: -2;
}

/** Content style **/
main {
    grid-column: left / right;
    padding: 1rem;
}

/* Mobile ignores sides */
@media (min-width: 600px) {
    main {
        grid-column: center-left / center-right;
    }
}

.font-alt,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header);
}

h1 {
    margin-block: 0;
    text-wrap: balance;
    font-size: 2.5rem;
}

a[href*="//"]
{
    padding-right: calc(14px + 2px);
    background-size: 14px;
    background-image: url("/external-link.png");
    background-repeat: no-repeat;
    background-position: center right;
}

a.dull-link {
    --link-normal: var(--text-normal);
    --link-hover: var(--text-accent);
    --link-visited-normal: var(--text-normal);
    --link-visited-hover: var(--text-accent);
    text-decoration: unset;
}

/* Card shadow effect with miniature variant */
.card-shadow {
    border: var(--border-width) solid var(--border-color);
    box-shadow: 4px 4px var(--border-color);
    margin-right: 4px;
    margin-bottom: 4px;
}
.card-shadow-mini {
    border: var(--border-width) solid var(--border-color);
    box-shadow: 2px 2px var(--border-color);
    margin-right: 2px;
    margin-bottom: 2px;
}

/* Stripe effect */
.stripe {
    position: relative;
    overflow: clip;
}
.stripe::after {
    content: "";
    position: absolute;
    bottom: 20%;
    right: -75%;
    rotate: -45deg;
    height: min(20%, 30px);
    width: 150%;
    background-color: var(--accent);
}
