*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

/** CSS reset stuff **/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2rem;
    font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

/* Fix media defaults */
img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

/* Fix input styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* Fix text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Fix link colors */
a {
    color: var(--link-normal);
    text-underline-offset: 0.2em;
}
a:hover {
    color: var(--link-hover);
}

/* Improve focus styles */
:focus-visible {
    outline: 3px dashed var(--text-accent);
}

/** Generic styles **/
hr {
    border-style: solid;
}

/** Variables **/
body {
    --background-primary: var(--bg0);
    --background-secondary: var(--bg2);
    --background-header: var(--bg1);
    --background-footer: var(--bg1);

    --background-tag: var(--bg1);
    --background-tag-hover: var(--bg2);
    --border-tag: var(--bg3);

    --text-normal: var(--fg0);
    --text-accent: var(--accent-text);
    --text-faded: var(--fg1);

    --link-normal: var(--accent-text);
    --link-hover: var(--accent-text-lighter);

    --center-width-min: 300px;
    --center-width-max: 800px;
}

:root body {
    --bg0: #eee;
    --bg1: #ddd;
    --bg2: #ccc;
    --bg3: #c3c3c3;
    --bg4: #aaa;

    --fg0: #444;
    --fg1: #666;

    --accent: #ff3b8d;
    --accent-lighter: #f865a2;
    --accent-darker: #d32f73;
    --accent-text: #800040;
    --accent-text-lighter: #be3278;
}

/** Main style **/
body {
    /* Grid system with named sections*/
    display: grid;
    grid-template-columns:
        [left]
        1fr
        [half-left]
        1fr
        [center-left]
        minmax(var(--center-width-min), var(--center-width-max))
        [center-right]
        1fr
        [half-right]
        1fr
        [right];
    grid-template-rows: min-content auto min-content;

    background-color: var(--background-primary);
    color: var(--text-normal);
}

/* Accessibility skip */
.skip-to-main {
    display: block;
    position: absolute;
    padding: 1rem;
    background-color: var(--background-secondary);
    left: -100%;
    opacity: 0;
}
.skip-to-main:focus,
.skip-to-main:hover {
    left: 0;
    opacity: 1;
    transition: opacity 100ms ease-out;
}

/* Header */
header {
    grid-column: left / right;
}

/* Footer */
footer {
    grid-column: left / right;
    grid-row: -2;
}

/** Content style **/
main {
    grid-column: left / right;
    padding: 1rem;
}

/* Mobile ignores sides */
@media (min-width: 600px) {
    main {
        grid-column: center-left / center-right;
    }
}

.font-alt,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif";
    font-family: system-ui, sans-serif;
}

h1 {
    margin-block: 0;
    text-wrap: balance;
    font-size: 2.5rem;
}

a.dull-link {
    --link-normal: var(--text-normal);
    --link-hover: var(--text-accent);
    --link-visited-normal: var(--text-normal);
    --link-visited-hover: var(--text-accent);
    text-decoration: unset;
}
