---
import { type Post, getUniqueTags } from "../../ts/utils";
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import Tag from "../../components/tag.astro";

// Glob all tags
export const getStaticPaths = (async () => {
    const allPosts: Post[] = await Astro.glob("../posts/*.md");

    const uniqueTags = getUniqueTags(allPosts);

    return uniqueTags.map((tag) => {
        const filteredPosts: Post[] = allPosts.filter((post: Post) =>
            post.frontmatter.tags?.includes(tag),
        );

        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}) satisfies GetStaticPaths;

// Each tag page
const { tag }: { tag: string } = Astro.params;
const { posts } = Astro.props;
---

<Layout title="Tag" description={`Pages tagged ${tag}`}>
    <p>Posts with <Tag {tag} /></p>
    <ul>
        {
            posts.map((post: Post) => (
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
