---
import { type Post, getUniqueTags } from "../../ts/utils";
import Layout from "../../layouts/Layout.astro";

const allPosts: Post[] = await Astro.glob("../posts/*.md");

const uniqueTags = getUniqueTags(allPosts);
---

<Layout title="Tags" description="Tag pages">
    <p>Wow tags!</p>
    {
        uniqueTags.map((tag) => (
            <li>
                <a href={`/tags/${tag}`}>{tag}</a>
            </li>
        ))
    }
</Layout>
