---
import { type Post, getUniqueTags } from "../../ts/utils";
import Layout from "../../layouts/Layout.astro";
import Tag from "../../components/Tag.astro";

const allPosts: Post[] = await Astro.glob("../posts/*.md");

const uniqueTags = getUniqueTags(allPosts);
---

<Layout title="Tags" description="Tag pages">
    <h1>All tags</h1>
    <ul>
        {
            uniqueTags.map((tag) => (
                <li>
                    <Tag {tag} />
                </li>
            ))
        }
    </ul>
</Layout>

<style>
    ul {
        padding: 0;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1ch;
    }
    li {
        display: contents;
    }
</style>
