---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" description="Page not found">
    <p>How did you get here?</p>
    <img src="https://http.cat/images/404.jpg" alt="404 cat">
</Layout>
