---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" description="main page of FireIsWebsite">
    <h2>My Epic About Page</h2>
    <p>This is my about page... Wow!</p>
    <p>About me... Well, there's not much to say!</p>
    <p>Here's some things I own:</p>
    <ul>
        <li>A small hammer</li>
        <li>A metal flashlight with a magnet on the back</li>
        <li>A wooden sword</li>
    </ul>
</Layout>
