---
import Layout from "../layouts/Layout.astro";

const me = {
    firstName: "Fire",
    title: "Good",
};

const owned_objects: String[] = [
    "a small wooden hammer",
    "A metal flashlight with a magnet on the back",
    "A wooden sword",
    "The entire moon",
];
---

<Layout title="About" description="main page of FireIsWebsite">
    <h2>It is me, {me.firstName}!</h2>
    <p>My title is {me.title}.</p>
    {
        owned_objects.length === 0 ? (
            <p>About me... Well, there's not much to say!</p>
        ) : (
            <>
                <p>Here's some things I own:</p>
                <ul>
                    {owned_objects.map((object) => (
                        <li>{object}</li>
                    ))}
                </ul>
            </>
        )
    }
</Layout>
