---
import type { Post } from "../ts/utils.ts";
import Layout from "../layouts/Layout.astro";
import Search from "../components/search.svelte";

const allPosts: Post[] = await Astro.glob("../pages/posts/*.md");
---

<Layout title="Home" description="Home page of FireIsWebsite">
    <h1>My Epic Home Page</h1>
    <p>
        This is my temporary home page while I figure out what the heck I want
        to do with this
    </p>
    <Search client:load searchList={allPosts} />
</Layout>
