---
import Layout from "../layouts/Layout.astro";
import Greeter from "../components/greeter.svelte";
---

<Layout title="Home" description="Home page of FireIsWebsite">
    <h1>My Epic Home Page</h1>
    <Greeter client:load greetings={["wow", "crazy", "cool"]} />
    <p>
        This is my temporary home page while I figure out what the heck I want
        to do with this
    </p>
</Layout>
