---
import Favicon from "./Favicon.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
    title: string;
    description: string;
    viewTransition: boolean;
}

const { title, description, viewTransition } = Astro.props;
---

<head>
    {viewTransition && <ViewTransitions />}
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Favicon />
    <title>FireIs{title}</title>
</head>
