---
const pages: [string, string][] = [
    ["Home", "/"],
    ["About", "/about/"],
    ["Blog", "/blog/"],
    ["Tags", "/tags/"],
];
---

<nav>
    <ul>
        {
            pages.map(([name, url]) => (
                <li>
                    <a class="font-alt dull-link" href={url}>
                        {name}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    nav {
        font-size: 1.2rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;
    }

    /* Ignore the semantic ul elements */
    nav > ul,
    nav > ul > li {
        display: contents;
    }

    /* Better link styles */
    :root nav a {
        font-size: 1.25rem;
        text-decoration: underline;
    }
</style>
