---
const pages: [string, string][] = [
    ["Home", "/"],
    ["About", "/about/"],
    ["Blog", "/blog/"],
    ["Tags", "/tags/"],
];
---

<nav>
    <ul>
        {
            pages.map(([name, url]) => (
                <li>
                    <a class="dull-link" href={url}>
                        {name}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
