---
interface Props {
    tag: string;
}

const { tag } = Astro.props;
---

<a class="tag dull-link" href={`/tags/${tag}`}>{tag}</a>

<style>
    .tag {
        display: inline-block;
        height: max-content;
        padding: 2px 8px;
        background-color: var(--background-tag);
        border-radius: 10px;
        border: 1px solid var(--border-tag);
    }
    .tag:hover {
        text-decoration: underline;
        background-color: var(--background-tag-hover);
    }
</style>
