---
import "../styles/global.css";
import Favicon from "../components/favicon.astro";
import Nav from "../components/nav.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <Favicon />
        <title>FireIs{title}</title>
    </head>
    <body>
        <header>
            <h1 class="title">
                <a class="home-button" href="/"
                    >FireIs<span class="page-name">{title}</span></a
                >
            </h1>
            <Nav />
        </header>
        <main>
            <slot />
        </main>
        <footer>
            <p>Find me elsewhere:</p>
            <ul>
                <li><a href="http://github.com/fireisgood">GitHub</a></li>
            </ul>
        </footer>
    </body>
</html>
