---
import "../styles/global.css";
import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head {title} {description} />
    <body>
        <a href="#main" class="skip-to-main dull-link">Skip to main content</a>
        <Header {title} />
        <main id="main">
            <slot />
        </main>
        <Footer />
    </body>
</html>
