---
import Layout from "./Layout.astro";

// Frontmatter properties
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
    title: string;
    pubDate: string | undefined;
    description: string | undefined;
    image: { url: string; alt: string } | undefined;
    tags: string[] | undefined;
}>;

const { frontmatter } = Astro.props;

const date = new Date(frontmatter.pubDate ?? "").toDateString();
const tags = [...(frontmatter.tags ?? [])];
---

<Layout title="Blog" description={frontmatter.description ?? ""}>
    <article>
        <h1>{frontmatter.title}</h1>
        {
            tags.length > 0 && (
                <ul class="tag-list">
                    {tags.map((tag) => (
                        <li class="tag">{tag}</li>
                    ))}
                </ul>
            )
        }
        <p>Published: {date}</p>
        {
            frontmatter.description ?? (
                <p>
                    <em>{frontmatter.description}</em>
                </p>
            )
        }
        <hr />
        <slot />
    </article>
</Layout>

<style>
    .tag-list {
        display: flex;
        padding: 0;
        margin: 0;
        gap: 0.5ch;
    }
    .tag {
        display: inline-block;
        padding: 2px 8px;
        background-color: var(--background-secondary);
        font-weight: bold;
        border-radius: 10px;
    }
</style>
